# RNA-Seq specific ignores
results_RNA-seq*/*
!results_RNA-seq/star_salmon/*/quant.sf
!results_RNA-seq/star_salmon/*.tsv
#logs/
count_matrix_*.tsv
.Rhistory
.RData
.Rproj.user
renv/library/
renv/staging/
renv/activate.R
.Renviron
.Rdata
.httr-oauth
.DS_Store
*.rds
*.RDS
.cache/

